.name{width:90%;
margin-left:5%;
height:20px;
background-color:gray;
text-align: center;
color: gold;
border-radius:2px;
border:solid;
border-color:black;}

.small { width: 80%;
margin-left:10%;
border-radius:2px;
border:solid;
border-color:black;}
.box2{width: 300px;
height: 450px;
background-color: silver;
padding-top: 7.5px;
border-radius:2px;
border:solid;
border-color:black;
float-right
}
.text{
	text-align: center;
	height:200px;
	background-color:red;
	width:80%;
	margin-left:10%;
	border-radius:2px;
border:solid;
border-color:black;
}
.name1{width:90%;
margin-left:5%;
height:20px;
background-color:gray;
text-align: center;
color: gold;
border-radius:2px;
border:solid;
border-color:black;}

.small1 { width: 80%;
margin-left:10%;
border-radius:2px;
border:solid;
border-color:black;}
.box3{width: 300px;
height: 450px;
background-color: silver;
padding-top: 7.5px;
border-radius:2px;
border:solid;
border-color:black;
}
.text1{
	text-align: center;
	height:200px;
	background-color:red;
	width:80%;
	margin-left:10%;
	border-radius:2px;
border:solid;
border-color:black;
}
.name2{width:90%;
margin-left:5%;
height:20px;
background-color:gray;
text-align: center;
color: gold;
border-radius:2px;
border:solid;
border-color:black;}

.small2 { width: 80%;
margin-left:10%;
border-radius:2px;
border:solid;
border-color:black;}
.box4{width: 300px;
height: 450px;
background-color: silver;
padding-top: 7.5px;
border-radius:2px;
border:solid;
border-color:black;
}
.text2{
	text-align: center;
	height:200px;
	background-color:red;
	width:80%;
	margin-left:10%;
	border-radius:2px;
border:solid;
border-color:black;
}
.name3{width:90%;
margin-left:5%;
height:20px;
background-color:gray;
text-align: center;
color: gold;
border-radius:2px;
border:solid;
border-color:black;}

.small3 { width: 80%;
margin-left:10%;
border-radius:2px;
border:solid;
border-color:black;}
.box5{width: 300px;
height: 450px;
background-color: silver;
padding-top: 7.5px;
border-radius:2px;
border:solid;
border-color:black;
}
.text3{
	text-align: center;
	height:200px;
	background-color:red;
	width:80%;
	margin-left:10%;
	border-radius:2px;
border:solid;
border-color:black;
}







